body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  box-sizing: border-box;
  display: grid;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 16px;
  grid-template: 11.5% 11.5% 60% 11.5%/ 20% 70%;
  gap: 15px;
 
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-area:1/1/1/4;
}

.sidebar {
  background-color: #FF7755;
  grid-area:2/1/4/1;
}

.nav {
  background-color: #00DDFF;
  grid-area:2/2/2/4;
}

.article {
  background-color: #bccbde;
  grid-area:3/2/3/4;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/4/4
}
